---
import Layout from "../layouts/Layout.astro";
import About from "../components/About.astro";
import Skills from "../components/Skills.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Drew Domi">
  <main>
    <About />
    <Skills />
    <Contact />
  </main>
</Layout>

<style></style>
