---
import SectionTitle from '../components/SectionTitle.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Login" desc="Login">
  <SectionTitle title="Login" />
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique maxime
    sequi autem neque quasi inventore aliquid quas delectus temporibus iusto ab
    quibusdam, labore saepe aliquam ullam accusamus impedit illum itaque! At vel
    quibusdam natus pariatur dolorum quo velit aperiam fuga magnam, consequatur
    nisi voluptatem enim explicabo mollitia consectetur, rem voluptates incidunt
    odio sint, esse perferendis. Nostrum delectus est suscipit ut? Totam
    recusandae, molestiae asperiores incidunt repellendus placeat dolorem a?
    Esse quod sapiente facere minima? Voluptas tenetur obcaecati deserunt eos
    labore debitis consectetur nisi similique facilis, qui nesciunt! Corporis,
    nesciunt nobis. Totam eaque autem vitae nemo perspiciatis expedita
    laboriosam voluptatum facilis nisi eos! Aliquam nostrum veritatis sequi quos
    accusamus maiores corporis aliquid vitae nihil, necessitatibus eveniet, non,
    modi at. Dolor, ducimus? Eius itaque necessitatibus, possimus a ut ab iure
    delectus porro illo eum numquam nihil recusandae dolore perspiciatis
    repellat, cumque sint odit expedita. Quaerat nihil doloribus laboriosam,
    quia eum quo deleniti!
  </p>
</Layout>
