---
import ContactLink from './ContactLink.astro'
import SectionTitle from './SectionTitle.astro'
---

<section id="contact">
  <SectionTitle title="Contato" />
  <div class="pl-4 mb-[50px]">
    <ContactLink
      label="GitHub: /drewdomi"
      leftIcon="bi:github"
      href="https://github.com/drewdomi"
    />
    <ContactLink
      label="LinkedIn: /in/drewdomi"
      leftIcon="bi:linkedin"
      href="https://linkedin.com/in/drewdomi"
    />
    <ContactLink
      label="Email: contato@drewdomi.com"
      leftIcon="bi:envelope-fill"
      href="mailto:contato@drewdomi.com"
    />
    <span class="tooltip tooltip-right" data-tip="Expires: [2027-09-14]">
      <ContactLink
        label="Chave GPG"
        leftIcon="bi:key-fill"
        href="public_gpg.txt"
      />
    </span>
    <ContactLink
      label="Comunidade Discord"
      leftIcon="simple-icons:discord"
      href="https://discord.gg/rUZRTrggat"
    />
  </div>
</section>
