---
import { Icon } from "astro-icon";
---

<footer
    class="mt-[50px] h-[100px] text-white bg-primary bg-[#272551] flex justify-center items-center gap-2 font-light"
>
    <Icon name="logo" className="block w-[26px]" />
    <p>Andrew Domingues - ©2023</p>
</footer>
