---
import { Icon } from 'astro-icon/components'
---

<footer
  class="h-[100px] text-white bg-[var(--color-base-400)] flex justify-center items-center gap-2 font-light"
>
  <button id="footer-logo">
    <Icon
      name="logo2"
      class="cursor-pointer"
    />
  </button>
  <p>© 2025 Andrew Domingues</p>
</footer>

<style>
  [data-icon] {
    @apply block w-[26px];
  }
</style>

<script src="@/utils/confetti.ts"></script>
