---
import { Image } from 'astro:assets'
---

<footer
  class="h-[100px] text-white bg-[var(--color-base-400)] flex justify-center items-center gap-2 font-light"
>
  <button
    id="footer-logo"
    class="cursor-pointer"
  >
    <Image
      src="/red_ace_pride.svg"
      alt="Logo Alternative"
      width="16"
      height="16"
      decoding="async"
      loading="lazy"
    />
  </button>

  <p>© 2025 Andrew Domingues</p>
</footer>

<style>
  p {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
</style>

<script src="@/utils/confetti"></script>
