---
import { Icon } from "astro-icon";

import NavMenu from "../components/NavMenu.astro";
import ToggleTheme from "../components/ToogleTheme.astro";
---

<header class="navbar p-[10px] px-5 shadow-sm">
  <div class="navbar-start">
    <a href="/" id="logo">
      <Icon name="logo" />
      <span>DrewDomi</span>
    </a>
  </div>
  <div class="navbar-center hidden md:block">
    <ul class="flex flex-row gap-6">
      <li><a>Início</a></li>
      <li><a>Projetos</a></li>
      <li><a>Blog</a></li>
      <li><a>Contato</a></li>
    </ul>
  </div>
  <div class="navbar-end gap-4">
    <ToggleTheme />
    <span class="md:hidden">
      <NavMenu />
    </span>
  </div>
</header>

<style>
  @keyframes rotateAnim {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  #logo {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 6px;
    font-family: "Rubik";
    font-size: 18px;
    transition: 1s ease;
  }

  #logo:hover svg {
    animation: rotateAnim 1.5s 2 linear alternate-reverse;
  }

  svg {
    height: 18px;
  }
  li a:hover {
    text-decoration: underline;
  }
</style>
