---
import NavMenu from "../components/NavMenu.astro";
import { Icon } from "astro-icon";
---

<header class="navbar p-[10px] px-5 shadow-sm">
  <div class="navbar-start">
    <a href="/">
      <Icon name="logo" />
      <span>DrewDomi</span>
    </a>
  </div>
  <div class="navbar-center">
    <!-- <a class="btn btn-ghost text-xl">daisyUI</a> -->
  </div>
  <div class="navbar-end">
    <NavMenu />
  </div>
</header>

<style>
  a {
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 6px;
    font-family: "Rubik";
    font-size: 18px;
    transition: 1s ease;
  }

  @keyframes rotateAnim {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  a:hover svg {
    animation: rotateAnim 1.5s 2 linear alternate-reverse;
  }

  svg {
    height: 18px;
  }
</style>
