---
import { Icon } from "astro-icon";

import { LINKS } from "../consts";
---

<div class="dropdown dropdown-end">
  <Icon
    name="majesticons:menu-line"
    tabindex="0"
    class="btn btn-sm btn-ghost btn-primary"
  />
  <ul
    tabindex="0"
    class="dropdown-content z-[2] menu py-2 px-0 mt-2 shadow-md rounded-md w-44 border bg-base-100"
  >
    <li><a href={LINKS.about}>Início</a></li>
    <li><a href={LINKS.projects}>Projetos</a></li>
    <li><a href={LINKS.contato}>Contato</a></li>
  </ul>
</div>

<style>
  svg {
    height: 38px;
    padding: 8px;
    cursor: pointer;
    border: solid 0.2px;
    border-radius: 4px;
  }
  /* li a:hover {
    @apply underline;
  } */
  a {
    border-radius: 0;
    font-size: medium;
    @apply text-neutral-content;
  }
</style>

<script>
  const closeByClickLink = () => {
    const elem = document.activeElement as HTMLElement;
    if (elem) elem.blur();
  };

  const links = document.querySelectorAll("ul li");
  links.forEach((item) => {
    item.addEventListener("click", () => {
      setTimeout(closeByClickLink, 200);
    });
  });
</script>
