---
interface Props {
  title: string
}

const { title } = Astro.props
---

<h3
  class="font-title mt-6 mb-2 inline-block cursor-default text-xl font-medium md:mt-8"
>
  {title}
</h3>

<style>
  h3::after {
    content: '';
    display: block;
    font-weight: bold;
    font-family: 'Rubik';
    height: 4px;
    width: 100%;
    opacity: 0.3;
    border-radius: 1px;
    background-color: var(--color-base-content);
  }
</style>
