---
import Button from "./Button.astro";
import SectionTitle from "./SectionTitle.astro";

import { Icon } from "astro-icon/components";
---

<section>
  <SectionTitle title="Skills" />

  <div id="icons">
    <div>
      <div class="tooltip tooltip-bottom" data-tip="Astro">
        <Icon name="astro" />
      </div>
      <div class="tooltip tooltip-bottom" data-tip="Angular">
        <img src="/icons/angular.svg" width="60" alt="Angular icon">
      </div>
      <div class="tooltip tooltip-bottom" data-tip="Nextjs">
        <Icon name="nextjs" class="text-stone-950" />
      </div>
    </div>

    <div>
      <div class="tooltip tooltip-bottom" data-tip="TypeScript">
          <Icon name="typescript" />
        </div>
        <div class="tooltip tooltip-bottom" data-tip="JavaScript">
          <Icon name="javascript" />
        </div>
    </div>

    <div>
      <div class="tooltip tooltip-bottom" data-tip="Node">
        <img src="/icons/node.svg" width="60" alt="Node icon">
      </div>
      <div class="tooltip tooltip-bottom" data-tip="Prisma ORM">
        <Icon name="prisma" />
      </div>
      <div class="tooltip tooltip-bottom" data-tip="MongoDB">
        <Icon name="mongodb" />
      </div>
    </div>
    <div>
      <div class="tooltip tooltip-bottom" data-tip="Jest">
      <Icon name="jest" />
        </div>
      <div class="tooltip tooltip-bottom" data-tip="Figma">
      <Icon name="figma" />
        </div>
    </div>
  </div>

  <div class="flex justify-center">
    <Button
      notBlank
      href="/projects"
      label="Projetos"
      rightIcon="fluent:arrow-right-12-filled"
    />
  </div>
</section>

<style>
    svg, img {
      @apply 
      inline
      w-[60px]
      h-[60px]
      text-8xl
      cursor-pointer;
    }

  #icons div {
    @apply flex
    justify-center
    gap-[64px]
    mb-[32px];
  }
</style>
