---
import Button from "./Button.astro";
import SectionTitle from "./SectionTitle.astro";

import { Icon } from "astro-icon/components";
---

<section>
  <SectionTitle title="Skills" />

  <div id="icons">
    <div>
      <div class="tooltip tooltip-bottom" data-tip="Astro" >
        <Icon name="astro" aria-label="Astro"/>
      </div>
      <div class="tooltip tooltip-bottom" data-tip="Angular">
        <img src="/icons/angular.svg" width="60" alt="Angular icon" aria-label="Angular">
      </div>
      <div class="tooltip tooltip-bottom" data-tip="Nextjs">
        <Icon name="nextjs" class="text-stone-950" aria-label="Nextjs"/>
      </div>
    </div>

    <div>
      <div class="tooltip tooltip-bottom" data-tip="TypeScript">
        <Icon name="typescript" aria-label="TypeScript"/>
      </div>
      <div class="tooltip tooltip-bottom" data-tip="JavaScript">
        <Icon name="javascript" aria-label="JavaScript"/>
      </div>
    </div>

    <div>
      <div class="tooltip tooltip-bottom" data-tip="Node">
        <img src="/icons/node.svg" width="60" alt="Node icon" aria-label="Node">
      </div>
      <div class="tooltip tooltip-bottom" data-tip="Prisma ORM">
        <Icon name="prisma" aria-label="Prisma ORM"/>
      </div>
      <div class="tooltip tooltip-bottom" data-tip="MongoDB">
        <Icon name="mongodb" aria-label="MongoDB"/>
      </div>
    </div>
    <div>
      <div class="tooltip tooltip-bottom" data-tip="Jest">
        <Icon name="jest" aria-label="Jest"/>
      </div>
      <div class="tooltip tooltip-bottom" data-tip="Figma">
        <Icon name="figma" aria-label="Figma"/>
      </div>
    </div>
  </div>

  <div class="flex justify-center">
    <Button
      notBlank
      href="/projects"
      label="Projetos"
      rightIcon="fluent:arrow-right-12-filled"
    />
  </div>
</section>

<style>
    svg, img {
      @apply 
      inline
      w-[60px]
      h-[60px]
      text-8xl
      cursor-pointer;
    }

  #icons div {
    @apply flex
    justify-center
    gap-[64px]
    mb-[32px];
  }
</style>
