---
import Button from './Button.astro'
import SectionTitle from './SectionTitle.astro'

import { Icon } from 'astro-icon/components'
---

<section>
  <SectionTitle title="Tecnologias" />

  <div id="icons" class="mt-3 lg:flex flex-col flex-wrap">
    <div class="flex flex-wrap lg:mb-0">
      <div class="flex justify-center">
        <div class="tooltip tooltip-bottom" data-tip="Angular">
          <Icon name="angular" aria-label="Angular" />
        </div>

        <div class="tooltip tooltip-bottom" data-tip="Astro">
          <Icon name="astro" aria-label="Astro" />
        </div>

        <div class="tooltip tooltip-bottom" data-tip="Nextjs">
          <Icon name="nextjs" class="text-stone-950" aria-label="Nextjs" />
        </div>
      </div>

      <div class="flex justify-center">
        <div class="tooltip tooltip-bottom" data-tip="Javascript">
          <Icon name="javascript" aria-label="Javascript" />
        </div>

        <div class="tooltip tooltip-bottom" data-tip="Figma">
          <Icon name="figma" aria-label="Figma" />
        </div>
      </div>

      <div class="flex justify-center">
        <div class="tooltip tooltip-bottom" data-tip="Spring">
          <Icon name="spring" aria-label="Spring framework" />
        </div>

        <div class="tooltip tooltip-bottom" data-tip="Java">
          <Icon name="java" aria-label="Java" />
        </div>
      </div>

      <div class="flex justify-center">
        <div class="tooltip tooltip-bottom flex-grow" data-tip="NestJS">
          <Icon name="nestjs" aria-label="NestJS" />
        </div>

        <div class="tooltip tooltip-bottom" data-tip="Protgres SQL">
          <Icon name="postgresql" aria-label="Postgres SQL" />
        </div>

        <div class="tooltip tooltip-bottom" data-tip="MongoDB">
          <Icon name="mongodb" aria-label="MongoDB" />
        </div>
      </div>
    </div>
  </div>
</section>

<div class="flex justify-center">
  <Button
    notBlank
    href="/projects"
    label="Projetos"
    rightIcon="fluent:arrow-right-12-filled"
  />
</div>

<style>
  svg,
  img {
    @apply inline
      w-[60px]
      h-[60px]
      text-8xl
      cursor-pointer;
  }

  #icons div {
    @apply flex
    justify-center
    gap-[48px]
    mb-[32px];
  }
</style>
