---
import * as m from '@/paraglide/messages'
import { Image } from 'astro:assets'

import { localizePathname } from '@/linking'
import { languageTag } from '@/paraglide/runtime'
import ButtonLink from './ButtonLink.astro'
import SectionTitle from './SectionTitle.astro'
---

<section>
  <SectionTitle title={m.skillsSectionTitle()} />

  <ul class="flex justify-center gap-9 md:gap-16 py-6">
    <li>
      <div id="angular-icon">
        <Image
          aria-hidden="true"
          src="/icons/angular.svg"
          width="60"
          height="60"
          alt=""
        />
        <span>Angular</span>
      </div>

      <div id="ionic-icon">
        <Image
          aria-hidden="true"
          src="/icons/ionic.svg"
          width="60"
          height="60"
          alt="skills"
        />
        <span>Ionic</span>
      </div>
    </li>

    <li>
      <div id="csharp-icon">
        <Image
          aria-hidden="true"
          src="/icons/csharp.svg"
          width="60"
          height="60"
          alt=""
        />
        <span aria-label="C Sharp">C#</span>
      </div>

      <div id="dotnet-icon">
        <Image
          aria-hidden="true"
          src="/icons/dotnet.svg"
          width="60"
          height="60"
          alt=""
        />
        <span aria-label="dot net">.Net</span>
      </div>
    </li>

    <li>
      <div id="go-icon">
        <Image
          aria-hidden="true"
          src="/icons/go.svg"
          width="60"
          height="60"
          alt=""
        />
        <span>Go</span>
      </div>

      <div id="linux-icon">
        <Image
          aria-hidden="true"
          src="/icons/linux.svg"
          width="60"
          height="60"
          alt=""
        />
        <span>Linux</span>
      </div>
    </li>

    <li>
      <div id="docker-icon">
        <Image
          aria-hidden="true"
          src="/icons/docker.svg"
          width="60"
          height="60"
          alt=""
        />
        <span>Docker</span>
      </div>

      <div id="kubernetes-icon">
        <Image
          aria-hidden="true"
          src="/icons/kubernetes.svg"
          width="60"
          height="60"
          alt=""
        />
        <p>Kubernetes</p>
      </div>
    </li>
  </ul>
</section>

<div class="flex justify-center">
  <ButtonLink
    notBlank
    href={localizePathname('/projects', languageTag())}
    label={m.linkLabelProjects()}
    rightIcon="fluent:arrow-right-12-filled"
  />
</div>

<style>
  div {
    @apply flex
    flex-col
    items-center
    justify-center
    gap-[4px];
  }

  li {
    @apply flex flex-col gap-[12px];
  }

  img {
    cursor: pointer;
    object-fit: cover;
    width: 44px;
    height: 44px;
  }

  @media (min-width: 480px) {
    img {
      width: 60px;
      height: 60px;
    }
  }
</style>

<script src="@/utils/pop-sound"></script>
