---
import { Icon } from "astro-icon";
---

<label class="swap swap-rotate">
  <input id="toggleT" type="checkbox" class="theme-controller" value="light" aria-label="Mudar Tema" />
  
  <span class="swap-on fill-current w-10 h-10 bg-info p-2 rounded-[4px]">
    <Icon name="prime:moon" class="text-white" />
  </span>
  
  <span class="swap-off fill-current w-10 h-10 bg-warning p-2 rounded-[4px]">
    <Icon name="prime:sun" class="text-black" />
  </span>
</label>
