---
import { Icon } from "astro-icon";
---

<label class="swap swap-rotate">
  <input type="checkbox" class="theme-controller" value="synthwave" />

  <span class="swap-on fill-current w-10 h-10">
    <Icon name="prime:sun" />
  </span>

  <span class="swap-off fill-current w-10 h-10">
    <Icon name="prime:moon" />
  </span>
</label>
