---
import Layout from "../../layouts/Layout.astro";
import SectionTitle from "../../components/SectionTitle.astro";
import CardPost from "../../components/projects/CardPost.astro";
---

<Layout title="Projetos">
  <SectionTitle title="Projetos" />
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-[40px]">
    <CardPost
      href="projects"
      image="/projects/post1.png"
      altImage="Project1"
      title="Projetc title 1"
      desc="Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore officia!"
    />
    <CardPost
      href="projects"
      image="/projects/post2.png"
      altImage="Project2"
      title="Projetc title 2"
      desc="Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore officia!"
    />
  </div>
</Layout>
