---
import "@fontsource/roboto/latin-300.css";
import "@fontsource/roboto/latin-400.css";
import "@fontsource/rubik/latin-400.css";
import "@fontsource/rubik/latin-500.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html data-theme="dark" lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Drew Domi homepage" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<main class="max-w-[500px] mx-9 sm:mx-auto">
			<slot />
		</main>
		<Footer />
	</body>
</html>
<style is:global>
	* {
		font-family: "Roboto";
	}
	@keyframes downtop {
    0% {
      opacity: 0;
      transform: translateY(15px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  main {
    animation: downtop 0.7s 0.35s backwards;
  }
	a {
		cursor: pointer;
	}
</style>
